.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}



.problemQuestion{
  color: azure;
  font-size: 29px;
}

.wordsList{
  display: grid;
  grid-template-columns: 20rem 20rem 20rem; 
  grid-template-rows: repeat(22rem);
  gap:0.2rem 2rem ;
}

.buttonPlace{
  width:100%;
  margin-top:19px;
  display: flex;
  justify-content: end;
}

/* .aButton{
  font-size:19px;
  padding:1rem 2rem;
  color:azure;
  font-weight: 800;
  background-color: transparent;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  cursor:pointer;
}

.aButton:hover{
  background-color: rgba(255,255,255,0.2);
} */



